.loginDiv{

	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	position: absolute;
	left: -300px;
	top: 100px;
	z-index: 11111;
	border: 2px;
	-webkit-transition: all 0.5s 0s ease;
	-moz-transition: all 0.5s 0s ease;
	-o-transition: all 0.5s 0s ease;
	transition: all 0.5s 0s ease;
	background-color: cornflowerblue;
	padding: 10px;
}
.loginDiv:hover {
	left: 0px;
}
.loginDiv .giris {
	background-color: #ffdd00;
	color: #333333;
	padding: 10px;
	position: absolute;
	width: 60px;
	right: -60px;

}

.loginDiv a{
	color:#fff;
	text-decoration:none;
}

.loginDiv #loginform{
	margin-top:20px;
  margin-left:auto;
  margin-right:auto;
	width:270px;
}

.loginDiv .input{
	width:270px;
    padding:5px 10px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background: #f5f5f5;
	border:none;
	border-radius: 5px;
	color: #333;
	font-size: 8px;
	margin-top:5px;
}

.loginDiv .loginbutton{
	background-color:#ffdd00;
	border-radius:5px/5px;
	-webkit-border-radius:5px/5px;
	-moz-border-radius:5px/5px;
	color:#333;
	display:inline-block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:18px;
	font-weight:bold;
	width:170px;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	height:30px;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	outline:0;
	cursor: pointer;
}

.loginDiv .loginbutton:active {
	position:relative;
	top:1px;
}

.loginDiv .loginbutton:hover{
	background-color:#e5bf05;
}

.blogyazisi{
   
    width: 1000px;
    padding-bottom: 80px;
 
}
.nav-item{

    padding-right: 40px;
    margin-left: 180px;
}

